{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Register</h1>
	<div class="container">
		<div class="row">
			{{ form_start(registrationForm) }}

			<label style="color: #ffffff;">Nom</label>
			{{ form_widget(registrationForm.nom) }}
			<label style="color: #ffffff;">Prenom</label>
			{{ form_widget(registrationForm.prenom) }}
			<label style="color: #ffffff;">Mail</label>
			{{ form_widget(registrationForm.email) }}
			<label style="color: #ffffff;">Mot de passe</label>
			{{ form_widget(registrationForm.plainPassword) }}
			<label style="color: #ffffff;">Termes</label>
			{{ form_widget(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-primary">Register</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
