{% extends 'base.html.twig' %}

{% block title %}Prestations
{% endblock %}

{% block body %}

	{% include "templates/nav.html.twig" %}

	<div class="container">
		<h2 class="text-center mx-auto" style="margin-top :4% ; margin-bottom : 3%">Prestations</h2>
		<div class="row ">
			<div class="col" style="padding-right :4% ; ">
				{% for prestation in prestations %}
					<div class="row mt-4">
						<!--<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">-->
						<div class="card bg-light mb-3" style="width: 100%;">
							<div class="row">
								<div class="col">
									<div>
										<div>
											<h3>
												<strong>{{prestation.libelle}}</strong>
											</h3>
										</div>
										<div id="descDiv{{prestation.id}}">
											{{prestation.description}}
										</div>
									</div>
								</div>
								<div class="col" style="text-align: right;">Coût de la prestation :<br><strong style="font-size: xx-large;"><?= $cout; ?>{{prestation.prix}}
										€</strong><br>
									<a href="#">
										<button class="btn btn-primary text-center">Ajouter au panier</button>
									</a>
								</div>
								<div class="row">
									<div>
										<a href="#">Proposé par
											<strong>{{prestation.artiste.pseudo}}</strong>
										</a>
									</div>
									<div>
										Temps de Prestation :
										<strong>{{prestation.temps}}</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
			{% endfor %}
		</div>
	</div>
	{% include "templates/footer.html.twig" %}
{% endblock %}
